.app {
  text-align: center;

  .main-container {
    min-height: 100vh;
  }

  .minimal-container {
    min-height: 100vh;
  }
}

.app-header {
  color: $white;

  .title {
    color: $white;
  }

  .img {
    height: 35px;
    width: 35px;
  }
}

.app-notiification {
  min-width: 300px;
}

.app-side-bar {
  .active {
    background-color: $dark-white;
  }
}
