@import 'font';
@import 'variables';

@import 'app';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container,
.container-fluid {
  min-height: calc(100vh - 120px);
}

.hidden {
  display: none !important;
}

.left-text {
  text-align: left !important;
}

.right-text {
  text-align: right !important;
}

.backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-grey {
  color: $grey;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.align-bottom-right {
  position: absolute;
  bottom: 0;
  text-align: right;
}
